.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stack {
  display: block;
  position: absolute;
  width: 5%;
  height: 50%;
  background-color: rgba(128,128,128, 0.2);
  border-radius: 8px;
}

.stack.selected {
  background-color: rgba(128,128,128, 0.3);
}

.token {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  transition: 1s;
}

.token.selected {
  border: 3px solid white;
  width: 64px;
  height: 64px;
  transform: translateY(-64px);
}

.button {
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 24px;
  background-color: lightblue;
  border: none;
  border-radius: 0.5rem;
}